* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #e6e4d4;
  height: 100vh;
}

.card {
  width: 400px;

  /* color: blue; */
  background-color: #baa6c8;
  border-radius: 5px;
  box-shadow: 1px 0px 1px black;
  display: flex;
  flex-direction: row;
}

.photo {
  width: 50px;
  padding: 5p;
  margin: 6px 8px;
}


.name-emai {
  width: 80%;
  /* justify-content: center; */
  margin: 0 auto;
}

p {
  margin: 1em;
}

.user {
  display: flex;

  flex-wrap: wrap;
  gap: 1em;
}