* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #e6e4d4;
  height: 100vh;
}

img {
  max-width: 100%;
}
.card {
  width: 350px;

  /* color: blue; */
  background-color: #baa6c8;
  border-radius: 5px;
  box-shadow: 1px 0px 1px black;
  display: flex;
  flex-direction: row;
  border-left: 5px solid palevioletred;
}
.photo {
  width: 50px;

  /* padding: 5px; */
  margin: 6px 8px;
  border-radius: 6px;
}

.name-emai {
  width: 80%;
  /* justify-content: center; */
  margin: 0 auto;
}

p {
  margin: 1em;
}

.user {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  margin-block-start: 2em;
  padding: 1em;
}
